{% extends "template.html" %}
{% block contents %}
    <div class="container-md container-lg my-5">
        <div class="bg-white f-msg2 p-5 text-secondary">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12 col-12">
                    <h3>I SEE MY LIFE GREEN NOW</h3>
                    <p>
                        No HOPE NO GAIN:  Saeedullah, a local greenhouse owner, lives in Toqoz Darak villages of Qorghan
                        district. Before he joins as beneficiary to the program, he was working long days on his low productive
                        land. His income from his land was never enough to survive and feed his family.
                    </p>
                    <p>
                        We decreased the water use 60%, by drop system.
                        <br><br>
                        “I was seeking how to increase productivity of my lands and how could I learn skill to get more income”
                        , said
                        Saeedullah. He further added that after lots of search, I could not find the way to use affectively
                        my land and was not able to use improved seeds. This sense of continuous pessimism and hopelessness
                        broke me to ground.
                    </p>
                    <p>
                        One day I was informed through CDC regarding COAR/NCA enterprise development program and I found
                        it very close to what I was looking for. I applied to join the program. After fulfilling the selection
                        criteria, I have been selected for the program.  I Believe in myself NOW: Up on joining the program,
                        Saeedullah immediately participated in capacity building training, particularly technical training of
                        cultivations, and business skill training. “I earned knowledge how to cultivate, in new methods,
                        watering the greenhouse, keep them in the farm and how to harvest and when and which season is
                        right time for cultivations” added Saeedullah.  In addition, Saeedullah received training on business
                        skill and marketing techniques and sales, a value added to his skills. In the past Saeedullah was not
                        able to simply holding his agriculture products to the nearest shops and was not able to negotiate on
                        price. “Now I know how to use greenhouse and how to build it and how to cultivate seasonal vegetables”,
                        Saeedullah elaborated. “Now I can easily run this enterprises and work with group members as well”,
                        Said saeedullah
                    </p>
                    <p>
                        I see my life green now:  Saeedullah, under COAR/NCA enterprise program runs greenhouse with size
                        of 3.25*9*54 square meter in his village, close to his family.  “One of the interesting things that
                        we learned from COAR/NCA was drop watering, which is very crucial in Faryab with shortages of water
                        and salty water. We decreased the water use 60% and learned to make such things in all farms if we
                        face water shortage,” added Saeedullah, watching happily towards his beautiful greenhouse.
                    </p>
                    <p>
                        Smiling with big hope, Saeedullah explained: “We cultivated for the first time and harvested jointly
                        with team members and sold the product to Andkhoy market and it was so exciting for us, seeing
                        ourselves empowered and having cash in hand.  For the first time, we sold around 2500 kg cucumbers to
                        the market, although it was not our expectations but we earned around 46430 AFN with net profits of
                        38000 FN”.  “A broken man with no hope, today seem a market player and has cash in hand.  Wonderful!
                        thank you COAR/NAC for the magic you did”, Said Saeedullah
                    </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                    <img class="w-100 img-thumbnail" src="{{ url_for('static', filename='stories/d.jpg') }}">
                </div>
            </div>
        </div>
    </div>
{% endblock contents %}