{% extends "template.html" %}
{% block contents %}
    <div class="container-md container-lg my-5">
        <div class="bg-white f-msg2 p-5 text-secondary">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12 col-12">
                    <h3>A QUICK DRIVE FROM BEGGIN TO A SUSTAINABLE LIVELIHOOD</h3>
                    <p>
                        Zainab with her children lives in Qari Ebadullah village located in the suburb of Taloqan city,
                        capital of Takhar province. She is a widow. Sixteen years ago when she was 25 years old her
                        husband, Ajab Gul, was martyred in a road bomb explosion on the way toward Baghlan. He left
                        two girls and a boy named respectively Gul Afshan, Nazanin and Rajab, orphans for his wife
                        Mrs. Zainab. Ajab Gul was ultra-poor and had no property from himself and he was going to
                        left Afghanistan for one of neighboring country in order to earn money through laboring for
                        his family. Unfortunately, he failed to achieve her aim.
                    </p>
                    <p>
                        Afterwards, Zainab had no help meet any more, she had a sense of impending the worst doom.
                        She extremely suffers from losing of her husband. Her children believed that their father
                        would return home in the near future. But, she was afraid of the unknown fate of her children
                        and said them nothing about events happened upon their father. Zainab lonely struggle with all
                        pains and knots which stood before her, she always consoled her children with the thought that
                        their father would return soon and pretended that she was helpmeet of them while she had no
                        means of helping them to go on to their lessons.
                    </p>
                    <p>
                        Zainab lived in a small cottage with no door and windows. This also was from one of her
                        husband relatives. Washing clothes, baking breads and sweeping of rooms were those works
                        she did daily in others home. Otherwise, she was obliged to beg in the local bazaar of her
                        villages so as to provide food and clothes for her school age children. All her endeavors
                        could not make her potentials to support her children to keep going to school on. Finally,
                        her children leave schools which was another disappointment for her after losing her husband.
                        She was selected as project beneficiaries through the recommendation of village representative.
                        She received a pregnant cow by the project based on her interest. She is thankful of TUP
                        project, I ponder this as a means of rescue from begging and hardworking with which I was
                        encountered from a long time ago in the past. Now I have no concerns about the destiny of my
                        children that is why I have occupation i.e. I breed my cow and purchase my family expenditures
                        through selling its products. Also I received stipend amounting to AFN 1,000 on monthly basis
                        for one year. Meanwhile, I received five days training on rearing cow, hygiene, family
                        planning, enterprise development and social issues such as children rights, neighboring rights
                        and establishing relationship with others in the community.” Paused and hopefully started
                        speaking: “I took my children back to school by the help of TUP project. Presently they are
                        not forced to gather bushes and animal dung for baking bread and cooking at home. They are
                        now students of school as like other children in the village. I am able to provide all their
                        requirements viz. notebooks, pens, clothes and bags for them from my own incomes through
                        joining the markets and establishing small business, the project staff supported me in all
                        aspect of my life and its opened a new outlet to my dark live and I am more hopeful for a
                        bright future,” Pointed out Zainab.
                    </p>
                    <p>
                        She bought a floor of carpet for the room. She also constructed a kitchen from the income
                        earned. At the same time project helped her to buy windows and door for the house. She added,
                        “I am not on burden of other shoulders, I got skills and received asset, I work hard to make
                        income. I am not what I was yesterday. I have skills and manage second enterprise. So, I do my
                        best to effectively utilize from my asset. I am grateful from all; MISFA/ CoAR and Afghan state
                        for providing ultra-poor widows with assistance and rescued them from begging.
                    </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                    <img class="w-100 img-thumbnail" src="{{ url_for('static', filename='stories/zainab-tup.jpg') }}">
                </div>
            </div>
        </div>
    </div>
{% endblock contents %}