{% extends "template.html" %}
{% block contents %}
    <div class="container-md container-lg my-5">
        <div class="bg-white f-msg2 p-5 text-secondary">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12 col-12">
                    <h3>USING CLEAN WATER SAVES LIVES</h3>
                    <p class="text-decoration-underline">
                       Using clean water saves lives, decreases medical expenses which finally leads
                        to increasing incomes
                    </p>
                    <p>
                        Fatima, a resident of Kaman Olia village is describing a strange story as follow; you may
                        better know that Kaman Olia village is located in inside high – Rocky Mountains with narrow
                        pathways and access – road and due to bad geographical, its narrow ways remain close for 2
                        to 3 months. Whereas, the Kaman Olia village and houses located on the peak points of
                        mountains, thus some natural open unsafe springs and a river are the only sources of water
                        for our deprived people; most of those springs are located at mid- high or top of mountains;
                        however, local people having no other alternative option have to fetch water with hand and
                        on shoulders from those springs or existing river; winter season cold climate again limits
                        the access to those springs, where people have no other options to fulfill needs yet have to
                        get water from the same sources; particularly the victims of this burden are women and young
                        girls getting injured and/or become disabled while carrying water to their homes. As far the
                        majority of men are usually used to travel out of village or country for labor works earning
                        life and family alimony; women/girls are compelled to accomplish the responsibility of taking
                        water from those water sources; most of households having no such person to collect water from
                        those farthest spring has to suffice and use melting snow water or use river water which comes
                        as surface run-off ultimately causing numerous diseases.
                    </p>
                    <p>
                       Lack of proper sanitation facilities and use of open fields as a toilet near home and near
                        homes is also a prominent cause of diseases spreading; non – availability of health clinics
                        nearby, we have to take sick people to capital city «Nilli» hospital and pay extremely high
                        medication and transportation cost for our patients’ treatment and recovery.
                    </p>
                    <p>
                        Poor personal and environmental hygiene and unavailability of clean drinking water results
                        in high mortality rates in children. In 2017, CoAR provided facilities of clean drinking
                        water and human friendly environmental hygiene. These facilities have been provided with
                        help and support of NCA. The people in that particular region have clean drinking water
                        and other hygiene facilities. People lives can be made better by proper dissemination of
                        messages regarding health care measures in daily life. Community based WASH committees
                        have been established and community members have been trained to maintain run and maintain
                        Pipe Schemes to make the projects effectives. In short, on behalf of the community I would
                        like to thank CoAR and NCA for the efforts they have done for us.
                    </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                    <img class="w-100 img-thumbnail" src="{{ url_for('static', filename='stories/fatima.jpg') }}">
                </div>
            </div>
        </div>
    </div>
{% endblock contents %}