{% extends "template.html" %}
{% block contents %}
    <div class="container-md container-lg my-5">
        <div class="bg-white f-msg2 p-5 text-secondary">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <h3>we are now feeling like equal human being</h3>
                    <h5>Skeena from Saghreq village using water-scheme  </h5>
                    <p>
                        Sakeena, 36 years old women, a resident of Saghreq village is describing a strange story
                        as follow:
                        <br>You may better know that Saghreq village is located in inside high – Rocky Mountains with
                        narrow pathways and almost nil access – road, remain closed in winter for 2 to 3 months.
                        Almost 80% of the Saghreq’s houses are located on the peak points of mountains. Seasonal
                        springs river water are the only sources of water/unsafe-water for our deprived people.
                        Water fetching is traditionally the house chore of women and girls. Most of those springs
                        are located at mid- high or top of mountains, so women-- having no other alternative-- have
                        to fetch water with hand and on shoulders from those springs and/or existing river.  Water
                        fetching become more awesome and exhausting job, especially in winter when most of these
                        springs are under snow and access paths are almost blocked. As of the village men travel out
                        of village for earning life and family alimony; women and girls are thus, compelled to
                        accomplish the responsibility of taking water from those water sources.  In some cases,
                        girls and women have to travel narrow, sloppy and slippery mountainous terrenes for almost
                        30 minutes to get access to water sources or unsafe river water. We have many examples when
                        women become disabled during winter water patching in these rocky areas, yet having no safe
                        drinking water. Some families are using melting snow water or use river water which comes as
                        surface run-off ultimately causing numerous diseases.
                    </p>
                    <p>
                       On the top of water challenge, Saghreq village also heavily suffer from lack of proper
                        sanitation facilities and use of open fields as a toilet near home and near houses and this
                        in turn causes disease spreading. Absence of health clinics nearby further adds to the
                        suffering of Saghreq villagers, who have to take sick children to hospital in capital city
                        “Nilli”, where the cost of medication and transportation is not affordable for them. All
                        the above harsh living conditions results into high mortality rate for children in this village.
                    </p>
                    <p>
                       For years the villagers could not see any light of hope at the end of tunnel. Luckily this year,
                        CoAR with financial support from NCA started a project to provide access to clean drinking
                        water at doorstep and ensure environmental hygiene for the deprived people of this village.
                        CoAR implement project which was funded by NCA to provide clean water to the villagers.
                        Now the villagers have access to clean drinking water. resulting saving remarkably money/time,
                        earlier spent in patient’s treatment at hospital. Village WASH committee established to develop
                        consensus and unity amongst the community for water-scheme maintenance and functionality,
                        through a technical person «Mechanic» trained for this purpose. “In addition to have real
                        relief in our lives, we are now feeling like equal human being and feel much dignified”,
                        said Sakeena 36-year-old woman, head of her household.
                    </p>
                    <p class="text-decoration-underline">
                       “COAR/NCA, strange names, but very close to our hearts as this brought new life into our
                        village”, Sakeena added further, with a meaningful smiling.
                    </p>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center">
                    <img class="w-50 img-circle rounded-pill" src="{{ url_for('static', filename='stories/sakeena.jpg') }}">
                </div>
            </div>
        </div>
    </div>
{% endblock contents %}