{% extends "template.html" %}
{% block contents %}
    <div class="container-md container-lg my-5">
        <div class="bg-white f-msg2 p-5 text-secondary">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <h3>The life Rejuvenated</h3>
                    <p>
                        Location: Kabul,<br>
                        Abdul Ali IDP Camp<br>
                        Interviewer: Ms. Shukria<br>
                        Interviewee: Tahmina <br>
                    </p>
                    <p>
                        Author: Habib Rahman Haider While durable solutions remain out of reach for internally
                        displaced persons in all the provinces including Kabul the capital of Afghanistan, with an
                        estimated more than 2 million IDPs across the country. , evidence shows that IDPs are in severe
                        condition across the country and do not have access to fundamental human rights. Both national
                        and international organizations have interventions in IDP camps to respond to the needs of the
                        IDPs such as education, health facility, and livelihood. The number of IDPs rapidly increased
                        in the year 2014 to 2021 as the war between the Afghan National Forces and Taliban has reached
                        to brutal phase. Now as the new regime is in power and facing multi issues in education,
                        health, and livelihood, so the chances of improving the life of IDPs has become a myth. In
                        addition, not only the IDPs but the whole country is facing numerous constraints which they
                        have not ever practiced in their lives. COAR with the financial support of UNICEF has started
                        intervention in 42 IDP camps in the capital Kabul. The camps are hosting IDPs almost from 25
                        provinces. UNICEF-funded WASH project for the IDPs camps has the objective of providing clean
                        drinking water, sanitation and hygiene. Specifically, COAR with the financial support of UNICEF
                        has one new water supply network, 30 double cabinet latrines, and 96 hygiene kits for the total
                        of 838 beneficiaries out of which 278 are girls, 259 boys, 170 women, and 131 men beneficiaries
                        . Clean drinking water, access to latrines, and hygiene are a dream for the residents. Tahmina
                        is twelve years old. She is originally from the Taqab district of Kapisa province. She said,”
                        our village was destroyed and we (family members) came to Kabul”. Tahmina along with her family
                        and other IDPs from her village settled in Baghi Dawood camp in the 14th district of Kabul and
                        later settled in Qala e Abdul Ali camp. Poverty and lack of access to fundamental needs make
                        life more challenging and risky for the IDPs with uncertain futures in the country where the
                        war is continually manipulating their lives. Tahmina was facing challenges in the access to
                        latrines and drinking water, now as the camp has sufficient latrines and a water supply
                        network. She felt dignified and stated, “I am so much happy to have these facilities and now
                        I will only focus on my studies”. A high volume of children are living in IDP camps like
                        Tahmina who are willing to study and contribute to the family economy but due to certain
                        constraints and limitations, the mentioned limitations are demolishing their morale and dreams.
                        There are millions of children like Tahmina who are In the question asked Tahmina about her
                        future, she said, “I want to become a doctress to help other girls”. Tahmina is motivated by
                        the hygiene promoters’ sessions to focus on hygiene related issues to stay healthy. To
                        guarantee the lives of millions of IDPs there is a need for a cognitive approach from, CSOs,
                        International Donors, businesses, government, and host communities to collaboratively assure
                        the future of the IDPs and especially the children.
                    </p>
                    <p>
                       The residents of the camps have cordially appreciated the COAR and UNICEF for accessing
                        the IDP camps. This kind of intervention gives hope to IDPs.
                    </p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <img class="w-100 img-thumbnail" src="{{ url_for('static', filename='stories/the-r.png') }}">
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center">
                    <img class="w-50 img-thumbnail" src="{{ url_for('static', filename='stories/the.png') }}">
                </div>
            </div>
        </div>
    </div>
{% endblock contents %}