{% extends "template.html" %}
{% block contents %}
    <div class="container-md container-lg my-5">
        <div class="bg-white f-msg2 p-5 text-secondary">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <p>
                        CoAR under the financial support of UNICEF implements WASH projects in the country. CoAR has
                        agreed to reach more than 138000 beneficiaries and distribute WASH supplies to beneficiaries
                        in Paktia, Paktika, and Khost province.
                    </p>
                    <p>
                       In the mentioned provinces, infrastructure is poor and many villages lack good roads, access to
                        clean water, sanitation, hygiene, and other necessities. UNICEF and CoAR are coherent to ensure
                        that Afghan citizens receive the WASH assistance that they need to improve their WASH needs
                        and quality of life.
                    </p>
                    <p>
                        In Paktia, Paktika, and Khost provinces hygiene and chlorination awareness project decreases
                        the number of water-borne diseases. The awareness sessions enhance the behavior change and
                        promote positive practice in the behavior change. The project commenced at a time when flash
                        floods caused due to heavy rains in the country. The flash floods have disturbed the lives of
                        people.
                    </p>
                    <p>
                        Flash floods caused damage to roads and access to basic facilities. In just 21 days including
                        Fridays CoAR on board the team, facilitating the required resources, stakeholders coordination,
                        data entry, distributing the WASH supplies, and enhancing awareness successfully.
                    </p>

                    <p>
                        There were numerous challenges in the implementation and design of the project, such as a very
                        limited period for the project activities, flash floods, and accessing hard-to-reach villages
                        in the respective provinces. To overcome the challenges and maintain robust coordination with
                        stakeholders, and guide the team effectively and efficiently. The management has decided to
                        prioritize both managerial and operational positions from the respective provinces, especially
                        the employees who had experience in such critical and emergency projects in the region.
                    </p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <img class="w-100 img-thumbnail" src="{{ url_for('static', filename='stories/picture1.jpg') }}">
                </div>
            </div>
        </div>
    </div>
{% endblock contents %}