<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='bs/bs.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="x-icon" href="{{ url_for('static', filename='web_pic/logo.png') }}">
    <title>OBW - Login</title>
    <style>
        body {
            background: #343a40;
        }
    </style>
</head>
<body class="text-white">
    <section class="col-12 col-sm-12, col-md-8 col-lg-6 m-auto p-3">
        <div class="mt-3">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% for cate, msg in messages %}
                <div class="alert alert-{{ cate }} alert-dismissible fade show">
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    {{ msg }}
                </div>
            {% endfor %}
            {% endwith %}
        </div>
        <div class="text-center">
            <img src="{{ url_for('static', filename='site-images/logo.png') }}" alt="Avatar Logo" style="width:100px;" class="rounded-pill">
            <h3 class="mt-2 pb-5 text-primary" style="border-bottom: 2px #193e87 solid">COAR - Login</h3>
        </div>
        <form action="" method="POST" style="border-bottom: 2px #193e87 solid" class="text-primary">
            {{ form.hidden_tag() }}
            <div class="mb-3 mt-3">
                {{ form.username.label(class="form-label") }}
                {{ form.username(class="form-control text-primary", placeholder="Admin Username") }}
            </div>
            <div class="mb-3 mt-3">
            {{ form.password.label(class="form-label") }}
            {{ form.password(class="form-control text-primary", placeholder="Admin Password") }}
            </div>
            <div class="mb-3 mt-3 text-end">
                    <a class="btn btn-outline-primary m-2" href="{{ url_for('home.home') }}">Website</a>
                    {{ form.login(class="btn btn-outline-primary") }}
            </div>
        </form>
    </section>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.js') }}"></script>
</body>
</html>
