{% extends "template.html" %}
{% block contents %}
    <div class="container-md container-lg my-5">
        <div class="bg-white f-msg2 p-5 text-secondary">
            <div class="text-center text-black"><h4>COAR's CLUSTER COORDINATION</h4></div>
            <br>
            <p>COAR is the active member of following Clusters running by UN-OCHA in Afghanistan.</p>
            <ol><li>Food Security Cluster in Afghanistan</li></ol>
            <p>CoAR is the Co Chari member of this cluster in Afghanistan</p>
            <ol>
                <li>Water and Sanitation and Hygiene ( WASH)</li>
                <li>Education Cluster</li>
                <li>Shelter / NFI</li>
            </ol>
        </div>
    </div>
{% endblock contents %}