<{% extends "template.html" %}
{% block contents %}
    <div class="f-msg2 mx-auto my-5" style="width: 85%">
        <div class="text-center mb-5">
            <h2 style="font-weight: normal">THE COAR AT A GLANCE</h2>
        </div>
        <div class="text-secondary">
            <h6>Introduction</h6>
            <p>
                <b>Citizens' Organization for Advocacy & Resilience  </b>- COAR is an Afghan, independent, non-political,
                non-sectarian, non-for profit organization established in 1989 in response to the needs of delivering
                humanitarian assistance to Afghans during prevailing conflicting context of Afghanistan. In spite
                prevailed tense situation in country, COAR has developed a long-term strategy of delivering humanitarian
                aids to Afghans although existing many funding challenges. During different period of outstanding
                internal conflict, COAR has maintained the access of beneficiaries to basic services with using the
                main humanitarian principles of Independence, Neutrality and Impartiality in practice. COAR is register
                with Ministry of Economy as legal entity and other sector authorities such as the Ministry of Women
                Affairs, the Ministry of Rural Rehabilitation and Development, the Ministry of Education, Ministry of
                Higher education the Ministry of Public Health, the Ministry of Agriculture, Irrigation, and Livestock
                and etc.
            </p>
            <p>
                Initially COAR was operating as cross-border organization providing emergency relief in both sides
                Afghans in Pakistan and Afghanistan and considered as a biggest local organization operating in Afghanistan.
            </p>
            <p>
                With using the field tested lessons from the past, COAR has built its capacity according to the needs
                and added various values in term of project operation and management.
            </p>
            <p>
                Currently COAR is widely involved in both semi-emergency and development activities such as Disaster
                Risk Reduction Management response, agriculture, livestock, health, infrastructural engineering,
                formal and informal education, vocational training, Media evaluation & monitoring, emergency shelter
                plus CSOs supporting programs and etc. In result of implementation of numerous projects in each sector,
                COAR has gained significant experiences in each field and built the capacity of its staff on each level
                of management.
            </p>
            <p>
                COAR’s sector-wise intervention has been adjusted in compliance with COAR-Network Strategic plan (2012-2017).
            </p>
            <h6>COAR’s Vision:</h6>
            <p>
                A just and equitable society that embraces the rights of all people to fundamental freedom through
                participation and contribution in all spheres of social, cultural, economic and political life.
            </p>
            <h6>COAR’s Mission Statement:</h6>
            <p>
                To support the process of community development through various programmatic and organizational
                interventions leading to the creation of an enabling environment for communities to improve their
                living standard.
            </p>
            <h6><u>COAR’s Core Values: </u></h6>
            <p>COAR comply with all main core values of</p>
            <ul>
                <li>Transparency, Accountability and Trust.</li>
                <li>Leadership</li>
                <li>People Centeredness</li>
                <li>Dignity</li>
                <li>Commitment</li>
                <li>Team work</li>
                <li>Tolerance</li>
                <li>Fostering a Learning Environment</li>
            </ul>

            <h6><u>Decision Making Bodies:</u></h6>
            <h6><u>Board of Trustees</u></h6>
            <ul>
                <li>Ms. Tooba -Chair of BT</li>
                <li>Mr. Baz Mohammad-Member</li>
                <li>Ms. Zuhra Aman -  Member</li>
                <li>Ms. Zuhal Talash - Member</li>
                <li>Mr. Arianzai  - Member</li>
                <li>Ms. Sohaila Noori -Member</li>
            </ul>
            <h6><u>Board of Management:</u></h6>
            <ul>
                <li>Management Committee Members ( 5 people )</li>
                <li>Regional Managers( 4 persons )</li>
            </ul>
            <h6><u>Management Committee:  </u></h6>
            <ul>
                <li>Eng. Abdul Halim Halim</li>
                <b>Title:</b> Managing Director<br>
                <b>Education:</b> Master in International Cooperation in Humanitarian aid (MDICHA)
                <br><br>
                <li>Rahman Wali Totakhail</li>
                <b>Title:</b> Program Director<br>
                <b>Education:</b> BSC - Civil Engineering
                <br><br>
                <li>Mahmood Alimi </li>
                <b>Title:</b> Finance Manager<br>
                <b>Education:</b> BA. – Finance and
                <br><br>
                <li>Ahmadullah Salimee</li>
                <b>Title:</b> Administration Manager<br>
                <b>Education:</b> BSc.
                <br><br>
                <li>Maliha Safi</li>
                <b>Title:</b> HR / Gender Manager<br>
                <b>Education:</b> BA.
            </ul>
            <h6>Observers :</h6>
            <ul>
                <li>Dr. Mohammed Naeem Salimee,</li>
                <b>Title:</b> Founder / Senior Adviser – CoAR<br>
                <b>Education:</b> Ph.D
                <br>
                <li>Sameera Noori </li>
                <li>Mahmooda Taqwa </li>
                <li>Hashmatullah Rohani</li>
            </ul>

            <h6>Registration & Membership:</h6>
            <p>
                The COAR has been registered as legal entity with the following ministries and signed MoUs with them
                for implementation of relevant projects in Afghanistan. Based on COAR’s matured position and obtained
                experiences in each sector, we have the membership of core technical committee in each ministry and
                cluster coordination committees run by OCHA in each sector and regularly contribute to the process of
                development of strategies and planning on national level in response to the needs:
            </p>
            <ul>
                <li>Ministry of Economy (‘MoEc) under registration</li>
                <li>Ministry of Public Health (MoPH)</li>
                <li>Ministry of Education (MoE)</li>
                <li>Ministry of Women Affairs</li>
                <li>Ministry of Agriculture, Irrigation & Livestock (MAIL)</li>
                <li>Ministry of Rural Rehabilitation & Development (MRRD)</li>
            </ul>
            <p>
                Currently, COAR has membership of number of national and international humanitarian and development
                coordination bodies in order to measure its progress and achievement to the existing standards in term
                of transparency, accountability, partnerships, project management, gender and protection mainstreaming.
            </p>
            <p>
                COAR Active member of:
            </p>
            <ul>
                <li><b>ACBAR:</b> Agency Coordination Body for Afghan Relief</li>
                <li><b>AWN:</b> Afghan Women Network</li>
                <li><b>ANCB:</b> Afghan NGOs Coordination Bureau</li>
                <li><b>ADRRN:</b> Asian Disaster Reduction and Response network</li>
                <li><b>HC:</b> Huairou Commission</li>
                <li><b>HAP:</b> Humanitarian Accountability Partnership</li>
                <li><b>DRRWG:</b> Disaster Risk Reduction Working Group</li>
                <li><b>HCT:</b> Humanitarian country team</li>
                <li><b>EPSWG:</b> Emergency Sub Working Group</li>
                <li><b>NCA:</b> Norwegian Church Aid, as partner since 1994</li>
                <li><b>FSAC:</b> Food Security and Agriculture Cluster</li>
                <li><b>WASH:</b> Water Sanitation and Hygiene Cluster</li>
                <li><b>CSAC:</b> Civil Society Advisory Committee</li>
                <li><b>CIVICUS:</b> Civil Society Network for UNDP Global</li>
                <li><b>WHS:</b> World Humanitarian Summit</li>
                <li><b>NEAR:</b> Network for Empowered Aid Response</li>
                <li><b>ADRRN:</b> Asian Disaster Reduction & Response Network</li>
                <li><b>ICVA:</b> International Council of Voluntary Agencies</li>
                <li><b>CSJWG:</b> Civil Society Joint Working Group</li>
                <li><b>OGP/A:</b> Open Government Partnership/Afghanistan</li>
            </ul>
        </div>
    </div>
{% endblock contents %}