{% extends "template.html" %}
{% block contents %}
    <div class="container-md container-lg my-5">
        <div class="bg-white f-msg2 p-5 text-secondary">
            <div class="text-center text-black"><h4>CODE OF CONDUCT FOR NGO's</h4></div>
            <ol>
                <li>We are committed to <b>comply strictly with international humanitarian principles and human right law.</b></li>
                <li>Our work is based on the principle of DO NOT HARM and it focuses on responding to emergencies, to
                    chronic needs, reducing the impact of disasters and climate change, and dealing with the root
                    causes of poverty meeting basic needs, and enabling communities to become resilient and
                    self-sufficient.</li>
                <li><b>We are accountable</b> to those whom we seek to assist, to those providing the resources, and to legal authorities.</li>
                <li><b>We are transparent</b> in our dealing with the government and community partners, the public, donors and other interested parties.</li>
                <li><b>We are independent</b> and we strive to maintain our autonomy according to Afghan and international
                    law, and to resist the imposition of conditionality or corrupt practices that may compromise our
                    missions and principles.</li>
                <li><b>We will not discriminate against any individual or group</b> on the grounds of gender, political
                    affiliation, ethnic origin, religious belief, disability or sexual orientation.</li>
            </ol>
        </div>
    </div>
{% endblock contents %}