{% extends "template.html" %}
{% block contents %}
    <div class="container-md container-lg my-5">
        <div class="bg-white f-msg2 p-5 text-secondary">
            <div class="text-center text-black"><h4>COAR's DONORS</h4></div>
            <br>
            <table class="table table-bordered table-hover">
                <tr>
                    <th>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </th>
                    <th>Government</th>
                    <th>Donors</th>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <ul>
                            <li>MoEC</li>
                            <li>MoED</li>
                            <li>MRRD</li>
                            <li>MoPH</li>
                            <li>MAIL</li>
                            <li>ANDMA</li>
                            <li>NEPA</li>
                            <li>MoE Canada Fund</li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li>NCA</li>
                            <li>UNOCHA</li>
                            <li>UNDP</li>
                            <li>WFP</li>
                            <li>UNICEF</li>
                            <li>MISFA(WB)</li>
                            <li>SAARC</li>
                            <li>ADRRN</li>
                            <li>WB</li>
                            <li>USAID</li>
                            <li>UNHCR</li>
                            <li>FAO</li>
                            <li>Save the children/ ECW</li>
                            <li>UNCHS</li>
                            <li>CAII</li>
                            <li>PEACE Win Japan</li>
                            <li>Japan Embossing,</li>
                            <li>Italian Cooperation</li>
                            <li>BHN/Japan</li>
                            <li>Oxfam Novib</li>
                            <li>SV</li>
                            <li>Irish/AID and French Embassy</li>
                            <li>Care international</li>
                            <li>CAID</li>
                            <li>World Vision</li>
                            <li>EC</li>
                            <li>EU</li>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
    </div>
{% endblock contents %}