{% extends "template.html" %}
{% block contents %}
    <div class="f-msg2 mx-auto my-5" style="width: 85%">
        <div class="text-center mb-5">
            <h2 style="font-weight: normal">FOUNDING MEMBER MESSAGE</h2>
        </div>
        <div class="text-secondary">
            <p>
                Dear friends ,<br>
                Thank you for visiting COAR’s website,. Hope that the profile of COAR and its activities in regards
                to various socio, economic,DRR, education, development and Humanitarian programs delineated will give
                you a clear picture of the principles for which the organization stands for and is actively working.
            </p>
            <p>
                Your attention is particularly drawn to millions of those children, aged people and marginalized women
                who are the worst affected. Therefore, there is an urgent need to address their problems immediately.
            </p>
            <p>
                The hot issues in Afghanistan is currently the increasing insecurity and internal disparities and its
                impact on the common people particularly IDPs and Returnees. This need the active support of all
                kind-hearted people.
            </p>
            <p>
                I strongly believe that a good number of rich people in Afghanistan and international donors would
                definitely come forward to lend their helping hand to make our endeavors a great success.
            </p>
            <p>
                However, even very little Humanitarian assistance and your contribution may be, it will add to the
                whole to bring light and happiness of those hopeless people who have no clear future in the current
                bleak political situation in Afghanistan.
            </p>
            <p>
                COAR is part of the greater mission working for stability and dignity of the people of Afghanistan.
                Where, COAR has prominent achievements all along with promising future interventions as well,
                it also admire and encourage the sacrifices and generous efforts of international communities helping
                Afghanistan’s development and stability. A key element of finding that success is for Afghanistan’s
                younger population to buy into the new government. This sector of the population makes up two-thirds of
                the country and is more connected to the world than their predecessors growing up during the era of the
                Taliban. Many of them hold positions as public administrators in the Afghan government, and some have
                returned from quality educations overseas to become role models of change in Afghanistan’s economic,
                social, and political life. There is no reason why Afghanistan can’t produce world-class leaders that
                bring decisive, committed, and responsible decision-making to lead the country at this critical time.
            </p>
            <p>
                If the international community wants to ensure Afghanistan never again becomes a safe haven for
                terrorists, they should continue to engage the young generation in all the political , social and
                economical process. This is the only way Afghanistan and the world will truly be able to look back at
                the previous decade and say all the pain and suffering was worth the cost, and that a new era has begun.
            </p>
            <p>
                Conclusively, we believe that the civil society plays an important role in such a historic era of the
                country, need to be vigilant, decisive, and proactive, work as bridging between the communities and
                government and keep close eye on the sensitivity and maintaining the relation with the international
                community.
            </p>
            <p class="text-black">
                Sincerely,
            </p>
            <p>
                FOUNDING MEMBER MESSAGE
            </p>
        </div>
    </div>
{% endblock contents %}