{% extends "template.html" %}
{% block contents %}
    <div class="container-md container-lg my-5">
        <div class="bg-white f-msg2 p-5 text-secondary">
            <div class="text-center text-black"><h4>LIST OF STRATEGIES AND POLICIES THAT COAR HAS ADAPTED
                <br>FOR APPLYING IN ORGRANIZATION</h4></div>
            <br>
            <table class="table table-bordered table-striped table-hover">
                <tr>
                    <th>No</th>
                    <th>Name</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Strategic Plan for COAR and CEN 2012 – 2017</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>
                        Policies and Procedures Manual
                        <ul>
                            <li>Financial Manual</li>
                            <li>Logistic Manual</li>
                            <li>Procurement Manual</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>COAR CHARTER</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Grant Management Policy</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Human Resource Management Policy</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Protection Mainstreaming Policy</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>Gender Mainstreaming Policy</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>M&E Policy</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>Security Policy</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>Operational Access Approach</td>
                </tr>
                <tr>
                    <td>11</td>
                    <td>Emergency Preparedness and Response Strategy</td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>Contingency Planning of COAR</td>
                </tr>
                <tr>
                    <td>13</td>
                    <td>Business Development Plan + Action Plan of GRTV</td>
                </tr>
                <tr>
                    <td>14</td>
                    <td>Advocacy Strategy for COAR and CEN</td>
                </tr>
                <tr>
                    <td>15</td>
                    <td>COAR Structure and Registration Certificate and CEN Reg Certificate</td>
                </tr>
                <tr>
                    <td>16</td>
                    <td>Child Protection Code of Conduct</td>
                </tr>
            </table>
        </div>
    </div>
{% endblock contents %}