{% extends "template.html" %}
{% block contents %}
    <div class="container-lg container-md">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-12 py-5">
                <h1 class="text-primary">Thematic Areas</h1>
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" data-bs-toggle="pill" href="#menu0"><i class="fa fa-droplet"> WASH</i></a></li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="pill" href="#menu1"><i class="fa fa-book"> Education</i></a></li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="pill" href="#menu2"><i class="fa fa-pagelines"> Livelihood</i></a></li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="pill" href="#menu3"><i class="fa fa-bullhorn"> Disaster Management</i></a></li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="pill" href="#menu4"><i class="fa fa-building"> Engineering</i></a></li>
                </ul>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 col-12 p-5">
                <div class="tab-content">
                <div class="tab-pane container active f-msg2 bg-white p-4" id="menu0">
                    <p>
                        WASH: This sector includes both emergency and development water sanitation and hygiene
                        (WASH). Currently COAR has been implementing a number of WASH related projects funded by
                        UNOCH-CHF, NCA, UNHCR and UNICEF in almost in 12 provinces. The Hard component includes:
                        Gravity piped schemes, solar piped scheme, bore wells, spring protection and construction
                        of latrines and bathing facilities and Soft component of the program includes: hygiene
                        promotion, awareness raising using participatory hygiene and sanitation transformation (PHAST),
                        children hygiene and sanitation training (CHAST) and community led total sanitation (CLTS)
                        approaches. In 2017, COAR implemented 12 WASH and DRR projects in Khost, Nangarhar, Kabul,
                        Laghman, Ghazni, Daikundi and Bamyan provinces.
                    </p>
                </div>
                <div class="tab-pane container fade  f-msg2 bg-white p-4" id="menu1">
                    <h1 class="text-primary">Education</h1>
                    <p>
                        Under this sector, COAR provides formal education, informal education, capacity
                        building and higher education to the communities. In the past, COAR implemented
                        more than 100 huge education projects in most of the provinces Since the organization
                        establishment, for example Provided Accelerated Primary Education program (APEP) to 30,000
                        overage students (male and female, in 1206 villages’ teachers were trained). The second large
                        education program that has been implemented by COAR was Basic Education in-service and Training
                        (BEST) to 10,050 teachers trained and the program was really effective for whole Sector of
                        education in Afghanistan and the third large program was District Teacher Training Team (DT3)
                        program in which CoAR was lead agency and implemented this project in 14 provinces, where
                        65,000 teachers and 5000 principles/ headmasters were trained. Implementing these projects
                        make us known among stakeholder, clusters and donors as an expert NGO in the field of education.
                        CoAR provided education facilities through education in emergency (EiE), ALC, TLS, CBE,
                        psychosocial support and other formal and informal interventions. CoAR is active member of
                        Education in Emergency Working group (EiEWG), member of Afghanistan National Education
                        Coalition (ANEC), Co-Chair in Taskforce meeting for Development of Teacher Training Manual
                        (TTM), Committee Member in CBE group for revising CBE Policy. In 2017, COAR provided inclusive
                        and quality education facilities to 12,895 children (7,278 Girls & 5,617 Boys) in Khost,
                        Nangarhar, Kabul, Kandahar and Takhar provinces.
                    </p>
                </div>
                <div class="tab-pane container fade  f-msg2 bg-white p-4" id="menu2">
                   <h1 class="text-primary">Livelihood</h1>
                    <p>
                        COAR works to promote sustainable livelihoods so that families and communities can meet
                        prosperous life. COAR strictly follows sustainability rules and provide long term solutions
                        to community problems, that community members themselves can support after the grant funding ends.
                        COAR follows from small to large-scale livelihood models, which focus on building local
                        capacities to get maximum benefits from the locally available resource/ services. Encouraging
                        local resources is the first step for sustainability while the project impact will remain same
                        for many years. Targeting the Ultra-Poor (TUP) is the Sustainable Livelihood Approach to
                        Poverty Reduction which COAR implemented in Badakhshan, Takhar and Herat provinces with a
                        total target of 4585 ultra-poor households through a package of inputs over a two-year period,
                        including the transfer of productive assets, training, subsistence support, and basic health care.
                        Sustainable agriculture and livestock phenomenon in COAR is to meet the ever growing needs of
                        a growing Afghan population, however the climate squeeze us in this regard, but trying to
                        engage farmers and stakeholders to use the new techniques and technology for enhancing
                        production and productivity. In 2017, through implementation of livelihood project COAR team
                        enabled 286 women’s and men to run their own enterprises. They organized in 73 group
                        enterprises and 2,000 women, men and children are benefitted and they are surviving their
                        families through this earned income generation. Totally 286 beneficiaries started making
                        income from their own enterprises. Through ü 2,935 HH moved permanently out of extreme
                        poverty into sustainable livelihoods. ü 12,895 children (7278 girls & 5617 boys) were provided
                        with quality education facilities. ü 165,892 of individuals were provided with clean drinking
                        water, sanitation facilities, hygiene promotion and kits, and DRR awareness and structures. ü
                        304 of students were graduated from higher education ü 10,221 of individual received awareness
                        on DRR/ environmental protection through GR&TV ü 3,511 farmers were trained in new techniques.
                        Livelihood and Rural Development 5 accomplishment of TUP project 22575 women, men and
                        children are benefited. Totally 3225 HH lifted them out from extreme poverty.
                    </p>
                </div>
                <div class="tab-pane container fade  f-msg2 bg-white p-4" id="menu3">
                    <h1 class="text-primary">Emergency Response (ER) and Disaster Risk Reduction (DRR)</h1>
                    <p>
                        One of the mechanism that COAR has implemented the last decade is the Emergency Response (ER)
                        and DRR. COAR has GR&TV for the awareness raising on DRR and implemented approximately
                        231emergency and semi emergency projects around the country. COAR provides protective
                        assistance, it means concretely having trained emergency teams in the field with cash, food,
                        non-food items, emergency shelter like tents, emergency water - sufficient amount potable water
                        and sanitation equipment for hygiene purposes. Under this sector COAR has three objectives of:
                        1) Rapid Response, when the need is highest- After natural or man-made disasters such as
                        flooding, earthquakes, landslides and conflict-induced displacement COAR assigns teams and
                        they will do rapid need assessment, coordinate with clusters, donors and will roll out products
                        and services for acute needs. 2) Having access, where the need is highest- COAR make a
                        multi-sectorial need assessment and a tailor made response for all those needs. We are being
                        reactive as well as proactive and organize according to the estimated acute needs. 3) Response
                        to long-term Emergencies: COAR also works to respond to long-term needs like provision of
                        education facilities, WASH, food security and re-integration to the conflict affected
                        populations. In 2017, COAR reached 147,448 individuals via the Emergency Response,
                        and 10,221 individuals via DRR awareness through GR&TV. The summary of the projects implemented
                        in 2017 under this sector is tabulated as bellow; In 2017 COAR received fund from UNOCHA- CHF
                        second allocation for responding emergency needs. The project is supporting new and prolonged
                        IDPs in Maywand district of Kandahar province and Khawjaghar district of Takhar province
                        through three components of Water Sanitation and Hygiene-WASH, Food Security- through Cash
                        distribution and Education in Emergency-EiE- through TLS/TLCs approaches. The project is in
                        the initial stage. Provincial project offices established, project sites and beneficiaries
                        identified. The community based shuras established for each components of the project to
                        mobilize and facilitate project related issues regularly. ToRs developed and issued to all
                        members of the Shuras.
                    </p>
                </div>
                <div class="tab-pane container fade  f-msg2 bg-white p-4" id="menu4">
                     <h1 class="text-primary">Engineering</h1>
                    <p>
                        It should be appreciated out that the engineering Department of COAR started its activities
                        since 1989 - Right after COAR’s establishment, with the aim to carry out infrastructure
                        projects and mainly concentrate on rural development schemes in different provinces of
                        Afghanistan. The projects implemented by this department have always been selected based on
                        community needs and requirements.In 2017, CoAR implemented 12 WASH and DRR projects in Khost,
                        Nangarhar, Kabul, Laghman, Ghazni, Daikundi and Bamyan provinces.
                    </p>
                </div>
                </div>
            </div>
        </div>
    </div>
{% endblock contents %}