{% extends "template.html" %}
{% block contents %}
    <div class="container-md container-lg my-5">
        <div class="bg-white f-msg2 p-5 text-secondary">

            <div class="bg-primary py-4 my-4 text-white text-center" style="width: 100px; height: 100px;">
                <h5>{{ data.date }}</h5>
            </div>
            <i class="fa fa-file-text mb-3"> Projects Progress Report</i>
            <h4 class="text-muted font-weight-bold">{{ data.title }}</h4>
            <img class="w-25 rounded my-2" src="{{ url_for('static', filename='events/'+data.img1) }}">
            <p>{{ data.text }}</p>

            <div class="d-flex">
                {% if data.id != 1 %}
                    <a class="btn btn-primary mt-3 float-start me-auto" href="{{ url_for('news_.reports_page', nid=dec(data.id)) }}">Previous</a>
                {% endif %}

                {% if data.id != last_id %}
                    <a class="btn btn-primary mt-3 float-end ms-auto" href="{{ url_for('news_.reports_page', nid=inc(data.id)) }}">Next</a>
                {% endif %}
            </div>


        </div>
    </div>
{% endblock contents %}